
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(black);
    font-family: 'Rubik', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav ul li a {
    background-color: transparent;
    display: inline-block;
    padding: 10px 20px;
    color: #fff; /* Color del texto del botón */
    text-decoration: none;
    border-radius: 5px; /* Borde redondeado */
    margin-right: 10px; /* Espacio entre botones */
    transition: background-color 0.3s ease;
    background-color: #B22222;

}
header {
    background-color: red;
    color: #fff;
    padding: 45px;
    text-align: center;
   
}
#logo {
    background-color: red;
    text-align: center;
  }
  
  #logo img {
    width: 250px;
    height: auto;
  }
  
body {
    min-height: 100vh;
    background-color: var(gray);
    
}
main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}
.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.pokemon-image {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-image img {
    width: 100%;
    max-width: 6rem;
}
.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}